body {
    font-family:Oswald;
    background-color: #4bbf7d;
    color: #f2b05e;
}

h1, h3, h4, h5, h6{
    font-family:Lobster;
    text-align: center;
    font-size: 50pt;
    background-color: #373259;
    border-style: dashed;
    border-width: 5px;
    border-color: #d93b75;
}

h2 {
    font-family: Lobster;
    text-decoration: underline;
    text-align: center;
    font-size: 40px;
    background-color: #373259;
}

header {
    text-align: center;
}

/* Hero Section */

#hero, footer {
    background-color: #373259;
    padding: 10px;
    text-align: center;
    border-style: dashed;
    border-width: 3px;
    border-color: #d93b75;
    font-size: 20px;
}

#hero img {
    width: 250px;
}

/* Bio Section */
#bio {
    text-align: center;
    background-color: #373259;
    border-style: dashed;
    border-width: 3px;
    border-color: #d93b75;
    font-size: 25px;
}

/* Hobbies Section */

#hobbies ul li {
    text-align: center;
    list-style-position: inside;
    font-size: 25px;
}
 
#hobbies {
    background-color: #373259;
    border-style: dashed;
    border-width: 3px;
    border-color: #d93b75;
    font-size: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
}

/* Gallery */

#gallery {
    border: 3px dashed #d93b75;
    background-color: #373259;
}

#gallery img {
    max-width: 100%;
}

#gallery figure {
    text-align: center;
    font-size: 22px;
}